* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: #929292;
}
@media only screen and (max-width: 670px) {
  body {
    font-size: 14px;
  }
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  letter-spacing: 3px;
  color: #000;
  font-weight: 500;
  margin: 30px 20px;
  font-size: 32px;
}
@media only screen and (max-width: 670px) {
  h1 {
    font-size: 20px;
    margin: 20px 10px;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 670px) {
  h2, h3 {
    font-size: 18px;
  }
}

button {
  display: block;
  cursor: pointer;
}

span {
  display: inline-block;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100px;
  border-bottom: 5px double #ed0000;
  padding: 0 10px;
  background-color: #151827;
}
@media only screen and (max-width: 670px) {
  .navbar {
    height: 70px;
  }
}
.navbar .btn-on-off-navigation {
  display: none;
  height: 100%;
  font-size: 25px;
  font-weight: 600;
  color: #ed0000;
  background-color: #151827;
  border: none;
  transition: letter-spacing 0.25s;
}
@media only screen and (max-width: 1088px) {
  .navbar .btn-on-off-navigation {
    display: block;
  }
}
@media only screen and (max-width: 670px) {
  .navbar .btn-on-off-navigation {
    font-size: 20px;
  }
}
.navbar .btn-on-off-navigation:hover {
  letter-spacing: 2px;
}
.navbar-logo img {
  width: auto;
  height: 70px;
  margin: 0 auto;
}
@media only screen and (max-width: 670px) {
  .navbar-logo img {
    height: 40px;
  }
}
.navbar-logo span {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
  color: #fff;
}
.navbar-nav {
  display: flex;
  align-items: center;
  height: 100%;
}
@media only screen and (max-width: 1088px) {
  .navbar-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 110px;
    height: fit-content;
    background-color: #051e46;
  }
}
@media only screen and (max-width: 670px) {
  .navbar-nav {
    top: 70px;
  }
}
.navbar-nav-item {
  display: block;
  padding: 10px 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
}
@media only screen and (max-width: 1088px) {
  .navbar-nav-item {
    width: 100%;
    text-align: center;
    padding: 20px;
  }
}
@media only screen and (max-width: 670px) {
  .navbar-nav-item {
    padding: 20px 5px;
  }
}
.navbar-nav .navbar-nav-item:hover {
  color: #cddc06;
}
@media only screen and (max-width: 1088px) {
  .navbar-nav .navbar-nav-item:hover {
    background-color: #00197e;
  }
}

.banner {
  position: relative;
  width: 100%;
  height: 50vw;
  background-image: url(../img/Slideshow-banner/mercedes_benz_c_300_amg_line_2022_4k_3-HD.jpg);
  background-size: cover;
  background-position: center;
  transition: background-image 1s;
}
@media only screen and (max-width: 975px) {
  .banner .banner-text-model, .banner .banner-text-slogan {
    height: 45px;
    line-height: 45px;
    font-weight: 600;
  }
}
.banner .banner-text-model {
  position: absolute;
  top: 0;
  width: 50%;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-weight: 900;
  left: 0;
  font-size: 50px;
  letter-spacing: 5px;
  color: #fff;
  background-color: #000;
}
@media only screen and (max-width: 975px) {
  .banner .banner-text-model {
    font-size: 40px;
    letter-spacing: 3px;
  }
}
@media only screen and (max-width: 670px) {
  .banner .banner-text-model {
    font-size: 18px;
    height: 20px;
    width: 30%;
    line-height: 20px;
  }
}
.banner .banner-text-slogan {
  position: absolute;
  top: 0;
  width: 50%;
  height: 55px;
  line-height: 55px;
  text-align: center;
  font-weight: 900;
  right: 0;
  font-size: 30px;
  letter-spacing: 2px;
  color: #000;
  background-color: #fff;
}
@media only screen and (max-width: 975px) {
  .banner .banner-text-slogan {
    font-size: 20px;
    letter-spacing: 0;
  }
}
@media only screen and (max-width: 670px) {
  .banner .banner-text-slogan {
    font-size: 16px;
    width: 70%;
    height: 20px;
    line-height: 20px;
    letter-spacing: 0;
  }
}
.banner .banner-link-detail {
  position: absolute;
  bottom: 20px;
  padding: 0 5px;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 22px;
  font-weight: 500;
  color: #000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: color 0.5s, background-color 0.5s, width 0.5s;
}
@media only screen and (max-width: 860px) {
  .banner .banner-link-detail {
    bottom: 0;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
  }
}
.banner .banner-link-detail .fa-long-arrow-right {
  display: none;
  transition: margin 0.5s;
}
.banner .banner-link-detail:hover {
  background-color: #ed0000;
  color: #fff;
}
.banner .banner-link-detail:hover .fa-long-arrow-right {
  display: inline-block;
  margin: 0 0 0 5px;
}

.recommend {
  width: 100%;
  background-color: #000;
  overflow: hidden;
}
.recommend .recommend-title {
  color: #fff;
}
.recommend .recommend-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 100px;
  padding: 40px 10px 80px;
}
@media only screen and (max-width: 670px) {
  .recommend .recommend-list {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px 0 80px;
  }
}
.recommend .recommend-list .recommend-list-item {
  position: relative;
}
.recommend .recommend-list .recommend-list-item .recommend-list-item-title {
  position: absolute;
  top: -25px;
  width: 100%;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #ed0000;
  background-color: #000;
}
.recommend .recommend-list .recommend-list-item .recommend-list-item-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 20px;
  color: #09c323;
  background-color: #000;
  opacity: 0.7;
}
@media only screen and (max-width: 860px) {
  .recommend .recommend-list .recommend-list-item .recommend-list-item-content {
    font-size: 16px;
  }
}
.recommend .recommend-list .recommend-list-item .recommend-list-item-link {
  position: absolute;
  bottom: -30px;
  height: 30px;
  line-height: 30px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #051e46;
  color: #dc0505;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  transition: color 0.3s;
}
.recommend .recommend-list .recommend-list-item .recommend-list-item-link:hover {
  color: #cddc06;
  text-decoration: underline #ed0000;
}

.vehicle {
  display: grid;
  grid-template-columns: 20% 80%;
}
@media only screen and (max-width: 975px) {
  .vehicle {
    display: block;
  }
}
.vehicle .vehicle-title {
  grid-column: 1/3;
}
@media only screen and (max-width: 975px) {
  .vehicle .vehicle-filter-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: sticky;
    top: -61px;
    z-index: 2;
  }
}
.vehicle .vehicle-filter-type .filter-title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 20px auto;
  color: #000;
  border-bottom: solid 1px #000;
}
@media only screen and (max-width: 975px) {
  .vehicle .vehicle-filter-type .filter-title {
    grid-column: 1/4;
    width: 100%;
    border: none;
    margin: 0;
  }
}
.vehicle .vehicle-filter-type .btn-filter {
  width: 120px;
  padding: 10px;
  border: solid 2px #000;
  border-radius: 5%;
  margin: 20px auto;
  background-color: rgb(200, 200, 200);
  color: #00197e;
  font-size: 17px;
  font-weight: 600;
  transition: background-color 1s, color 1s;
}
@media only screen and (max-width: 975px) {
  .vehicle .vehicle-filter-type .btn-filter {
    width: 100%;
    border: none;
    border-radius: 0;
  }
}
@media only screen and (max-width: 670px) {
  .vehicle .vehicle-filter-type .btn-filter {
    padding: 0;
    height: 45px;
  }
}
@media only screen and (max-width: 975px) {
  .vehicle .vehicle-filter-type #suv, .vehicle .vehicle-filter-type #coupe {
    border-left: solid 2px #000;
  }
}
@media only screen and (max-width: 975px) {
  .vehicle .vehicle-filter-type hr, .vehicle .vehicle-filter-type #view-all {
    display: none;
  }
}
.vehicle .vehicle-filter-type .btn-filter:hover {
  color: #fff;
  background-color: #000;
}
.vehicle .vehicle-list-product {
  border-left: 1px solid #000;
}
.vehicle .vehicle-list-product .vehicle-list-product-type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 30px;
  margin: auto 10px;
}
@media only screen and (max-width: 860px) {
  .vehicle .vehicle-list-product .vehicle-list-product-type {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 670px) {
  .vehicle .vehicle-list-product .vehicle-list-product-type {
    column-gap: 10px;
  }
}
@media only screen and (max-width: 590px) {
  .vehicle .vehicle-list-product .vehicle-list-product-type {
    grid-template-columns: repeat(1, 1fr);
    margin: auto 0;
  }
}
.vehicle .vehicle-list-product .vehicle-list-product-type .product-type-title {
  grid-column: 1/4;
  position: sticky;
  top: -1px;
  z-index: 1;
  padding: 10px 0;
  background-color: #fff;
  color: #ed0000;
  border-bottom: solid 1px #7b7b7b;
}
@media only screen and (max-width: 975px) {
  .vehicle .vehicle-list-product .vehicle-list-product-type .product-type-title {
    top: 39px;
  }
}
@media only screen and (max-width: 860px) {
  .vehicle .vehicle-list-product .vehicle-list-product-type .product-type-title {
    grid-column: 1/3;
  }
}
@media only screen and (max-width: 590px) {
  .vehicle .vehicle-list-product .vehicle-list-product-type .product-type-title {
    grid-column: 1/2;
  }
}
.vehicle .vehicle-list-product .vehicle-list-product-type .product-item {
  margin: 0 0 50px 10px;
  position: relative;
}
.vehicle .vehicle-list-product .vehicle-list-product-type .product-item-title {
  text-align: center;
  color: #000;
  font-size: 20px;
}
@media only screen and (max-width: 670px) {
  .vehicle .vehicle-list-product .vehicle-list-product-type .product-item-title {
    font-size: 16px;
  }
}
.vehicle .vehicle-list-product .vehicle-list-product-type .product-item-price {
  width: 100%;
  text-align: center;
  margin: 10px 0 25px;
  color: #7b7b7b;
  font-size: 18px;
  font-weight: 600;
}
.vehicle .vehicle-list-product .vehicle-list-product-type .product-item-img {
  position: relative;
}
.vehicle .vehicle-list-product .vehicle-list-product-type .product-item .title-img {
  position: absolute;
  top: 10px;
  left: 20px;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  padding: 0 20px 40px;
  background-color: #929292;
}
@media only screen and (max-width: 975px) {
  .services {
    gap: 15px;
  }
}
@media only screen and (max-width: 860px) {
  .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 670px) {
  .services {
    padding: 0 0 20px;
  }
}
.services .services-title {
  grid-column: 1/4;
}
@media only screen and (max-width: 860px) {
  .services .services-title {
    grid-column: 1/3;
  }
}
.services .services-item {
  display: grid;
  grid-template-columns: 60px auto;
  padding: 20px 0;
  background-color: #000;
  border: solid 1px #fff;
}
@media only screen and (max-width: 670px) {
  .services .services-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0;
  }
}
.services .services-item-ico {
  grid-row: 1/3;
  display: flex;
  align-items: center;
  font-size: 35px;
  margin-left: 5px;
  color: #fff;
}
.services .services-item-title {
  color: #dc0505;
  line-height: 30px;
}
.services .services-item-note {
  color: rgb(200, 200, 200);
}
@media only screen and (max-width: 670px) {
  .services .services-item-note, .services .services-item-title {
    text-align: center;
    font-size: 16px;
    line-height: 18px;
    padding: 10px 0;
  }
}
.services .services-item:hover {
  background-color: #051e46;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  padding: 70px 0 30px;
  background-color: #000;
}
@media only screen and (max-width: 860px) {
  footer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 670px) {
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
footer .footer-topic {
  padding: 0 20px 20px 20px;
}
footer .footer-topic-title {
  color: #fff;
  margin-bottom: 20px;
  font-size: 20px;
}
@media only screen and (max-width: 670px) {
  footer .footer-topic-title {
    font-size: 16px;
  }
}
footer .footer-topic-gr-links .link-item > a {
  color: #929292;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
footer .footer-topic-gr-links .link-item > a:hover {
  color: #ed0000;
  text-decoration: underline;
}
footer .license-social-network {
  grid-column: 1/6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: solid 1px #fff;
  padding: 30px 20px 0;
}
@media only screen and (max-width: 860px) {
  footer .license-social-network {
    grid-column: 1/4;
  }
}
@media only screen and (max-width: 670px) {
  footer .license-social-network {
    grid-column: 1/3;
    flex-wrap: wrap;
  }
}
footer .license-social-network .footer-topic-license {
  display: flex;
  flex-wrap: wrap;
}
footer .license-social-network .footer-topic-license .link-item > a {
  color: #929292;
  padding-bottom: 10px;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-right: 10px;
}
footer .license-social-network .footer-topic-license .link-item > a:hover {
  color: #ed0000;
  text-decoration: underline;
}
footer .license-social-network .footer-topic-social-network {
  display: flex;
}
footer .license-social-network .footer-topic-social-network .social-network-item {
  width: 35px;
  margin-right: 20px;
}

.dp-flex {
  display: flex;
}

/*# sourceMappingURL=main.css.map */
