@import "./variables";
@import "./mixin";
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
    font-family: $--ff-courier-new;
    color: $--gray-100;
    @include Responsive($--S) {
        font-size: 14px;
    }
}
a {
    display: block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
ul {
    list-style-type: none;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $--ff-verdana;
}
h1 {
    letter-spacing: 3px;
    color: $--black;
    font-weight: 500;
    margin: 30px 20px;
    font-size: 32px;
    @include Responsive($--S) {
        font-size: 20px;
        margin: 20px 10px;
        letter-spacing: 1px;
    }
}
h2, h3 {
    @include Responsive($--S) {
        font-size: 18px;
    }
}
// h4 {
//     @include Responsive($--S) {
//         font-size: 16px;
//     }
// }
button {
    display: block;
    cursor: pointer;
}
span {
    display: inline-block;
}
