@import "./variables";
@import "./mixin";
// NAVIGATION
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100px;
    border-bottom: 5px double $--red-100;
    padding: 0 10px;
    background-color: $--blue-300;
    .btn-on-off-navigation {
        display: none;
        height: 100%;
        font-size: 25px;
        font-weight: 600;
        color: $--red-100;
        background-color: $--blue-300;
        border: none;
        transition: letter-spacing 0.25s;
        @include Responsive ($--XL) {
            display: block;
        }
    }
    .btn-on-off-navigation:hover {
        letter-spacing: 2px;
    }
    &-logo {
        img {
            width: auto;
            height: 70px;
            margin: 0 auto;
        }
        span {
            font-size: 20px;
            font-family: $--ff-courier-new;
            color: $--white;
        }
    }
    &-nav {
        display: flex;
        align-items: center;
        height: 100%;
        @include Responsive ($--XL) {
            display: none;
            flex-direction: column;
            position: absolute;
            z-index: 2;
            left: 0;
            top: 110px;
            height: fit-content;
            background-color: $--blue-200;
        }
        &-item {
            display: block;
            padding: 10px 15px;
            font-family: $--ff-verdana;
            font-size: 16px;
            font-weight: 600;
            color: $--white;
            cursor: pointer;
            @include Responsive ($--XL) {
                width: 100%;
                text-align: center;
                padding: 20px;
            }
        }
        .navbar-nav-item:hover {
            color: $--yellow;
            @include Responsive ($--XL) {
                background-color: $--blue-100;
            }
        }
    }
}
// BANNER

.banner {
    position: relative;
    width: 100%;
    height: 50vw;
    background-image: url(../img/Slideshow-banner/mercedes_benz_c_300_amg_line_2022_4k_3-HD.jpg);
    background-size: cover;
    background-position: center;
    transition: background-image 1s;
    .banner-text-model {
        @include banner_text;
        left: 0;
        font-size: 50px;
        letter-spacing: 5px;
        color: $--white;
        background-color: $--black;
        @include Responsive($--L) {
            font-size: 40px;
            letter-spacing: 3px;
        }
    }
    .banner-text-slogan {
        @include banner_text;
        right: 0;
        font-size: 30px;
        letter-spacing: 2px;
        color: $--black;
        background-color: $--white;
        @include Responsive($--L) {
            font-size: 20px;
            letter-spacing: 0;
        }
    }
    .banner-text-model, .banner-text-slogan {
        @include Responsive($--L) {
            height: 45px;
            line-height: 45px;
            font-weight: 600;
        }
    }
    .banner-link-detail {
        position: absolute;
        bottom: 20px;
        padding: 0 5px;
        height: 50px;
        line-height: 50px;
        background-color: $--white;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: 22px;
        font-weight: 500;
        color: $--black;
        font-family: $--ff-verdana;
        transition: color 0.5s, background-color 0.5s, width 0.5s;
        .fa-long-arrow-right {
            display: none;
            transition: margin 0.5s;
        }
    }
    
    .banner-link-detail:hover {
        background-color: $--red-100;
        color: $--white;
        .fa-long-arrow-right {
            display: inline-block;
            margin: 0 0 0 10px;
        }
    }
}


// RECOMMEND
.recommend {
    width: 100%;
    background-color: $--black;
    overflow: hidden;
    .recommend-title {
        color: $--white;
    }
    .recommend-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 15px;
        row-gap: 100px;
        padding: 20px 10px 70px;
        .recommend-list-item {
            position: relative;
            .recommend-list-item-title {
                position: absolute;
                top: -25px;
                width: 100%;
                height: 25px;
                line-height: 25px;
                text-align: center;
                color: $--red-100;
                background-color: $--black;
            }
            .recommend-list-item-content {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 10px 0;
                text-align: center;
                font-family: $--ff-gil-sans;
                font-size: 20px;
                font-weight: 600;
                color: $--green-200;
                background-color: $--black;
                opacity: 0.7;
            }
            .recommend-list-item-link {
                position: absolute;
                bottom: -30px;
                height: 30px;
                line-height: 30px;
                width: 100%;
                text-align: center;
                margin: 0 auto;
                background-color: $--blue-200;
                color: $--red-200;
                font-family: $--ff-verdana;
                font-weight: 600;
            }
        }
    }
       
    
    
}
// VEHICLE

.vehicle {
    display: grid;
    grid-template-columns: 20% 80%;
    @include Responsive($--L) {
        display: block;
    }
    .vehicle-title {
        grid-column: 1/3;
    }
    .vehicle-filter-type {
        @include Responsive($--L) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            position: sticky;
            top: -61px;
            z-index: 2;
        }
        .filter-title {
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin: 20px auto;
            color: $--black;
            border-bottom: solid 1px $--black;
            @include Responsive ($--L) {
                grid-column: 1/4;
                width: 100%;
                border: none;
                margin: 0;
            }
        }
        .btn-filter {
            width: 120px;
            padding: 10px;
            border: solid 2px $--black;
            border-radius: 5%;
            margin: 20px auto;
            background-color: $--white-100;
            color: $--blue-100;
            font-size: 17px;
            font-weight: 600;
            transition: background-color 1s, color 1s;
            @include Responsive($--L) {
                width: 100%;
                border: none;
                border-radius: 0;
                
            }
        }
        #suv, #coupe {
            @include Responsive ($--L) {
                border-left: solid 2px $--black;
            }
        }
        hr, #view-all {
            @include Responsive($--L) {
                display: none;
            }
        }
        .btn-filter:hover {
            color: $--white;
            background-color: $--black;
        }
    }
    .vehicle-list-product {
        border-left: 1px solid $--black;
        .vehicle-list-product-type {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 20px;
            row-gap: 30px;
            margin: auto 10px;
            .product-type-title {
                grid-column: 1/4;
                position: sticky;
                top: -1px;
                z-index: 1;
                padding: 10px 0;
                background-color: $--white;
                color: $--red-100;
                border-bottom: solid 1px $--gray-200;
                @include Responsive ($--L) {
                    top: 39px;
                }
            }
            .product-item {
                margin: 0 0 50px 10px;
                position: relative;
                &-title {
                    text-align: center;
                    color: $--black;
                    font-size: 20px;
                }
                &-price {
                    width: 100%;
                    text-align: center;
                    margin: 10px 0 25px;
                    color: $--gray-200;
                    font-size: 18px;
                    font-weight: 600;
                }
                &-img {
                    position: relative;
                }
                .title-img {
                    position: absolute;
                    top: 10px;
                    left: 20px;
                }
            }
        }
    }
}
// SERVICES

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
    padding: 0 20px 40px;
    background-color: $--gray-100;
    @include Responsive($--L) {
        gap: 15px;
    }
    .services-title {
        grid-column: 1/4;
    }
    .services-item {
        display: grid;
        grid-template-columns: 60px auto;
        padding: 20px 0;
        background-color: $--black;
        border: solid 1px $--white;
        &-ico {
            grid-row: 1/3;
            display: flex;
            align-items: center;
            font-size: 35px;
            margin-left: 5px;
            color: $--white;
        }
        &-title {
            color: $--red-200;
            line-height: 30px;
        }
        &-note {
            color: $--white-100;
        }
    }
    .services-item:hover {
        background-color: $--blue-200;
    }
}
// FOOTER

footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto auto;
    padding: 70px 0 30px;
    background-color: $--black;
    .footer-topic {
        padding: 0 20px 20px 20px;
        &-title {
            color: $--white;
            margin-bottom: 20px;
            font-size: 20px;
        }
        &-gr-links {
            .link-item>a {
                @include footer_link_item;
            }
            .link-item>a:hover {
                color: $--red-100;
                text-decoration: underline;
            }
        }
    }
    .license-social-network {
        grid-column: 1/6;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-top: solid 1px $--white;
        padding: 30px 20px 0;
        .footer-topic-license {
            display: flex;
            .link-item>a {
                @include footer_link_item;   
                margin-right: 10px;
            }
            .link-item>a:hover {
                color: $--red-100;
                text-decoration: underline;
            }
        }
        .footer-topic-social-network {
            display: flex;
            .social-network-item {
                width: 35px;
                margin-right: 20px;
            }
        }
    }
}
.dp-flex {
    display: flex;
}