@import "./variables";
@mixin banner_text {
    position: absolute;
    top: 0;
    width: 50%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-weight: 900;
}

@mixin footer_link_item {
    color: $--gray-100;
    padding-bottom: 10px;
    font-size: 18px;
    font-family: $--ff-gil-sans;
}
@mixin Responsive ($canvas) {
    @if ($canvas == $--XL) {
        @media only screen and (max-width: $--XL) {
            @content;
        }
    }
    @else if ($canvas == $--L) {
        @media only screen and (max-width: $--L) {
            @content;
        }
    }
    @else if ($canvas == $--XM) {
        @media only screen and (max-width: $--XM) {
            @content;
        }
    }
    @else if ($canvas == $--M) {
        @media only screen and (max-width: $--M) {
            @content;
        }
    }
    @else if ($canvas == $--XS) {
        @media only screen and (max-width: $--XS) {
            @content;
        }
    }
    @else if ($canvas == $--S) {
        @media only screen and (max-width: $--S) {
            @content;
        }
    }
}