// Var color
$--white: #fff;
$--white-100: rgb(200, 200, 200);
$--black: #000;
$--yellow: #cddc06;
$--blue-300: #151827;
$--blue-200: #051e46;
$--blue-100: #00197e;
$--green-200: #09c323;
$--green-100: #0aefb8;
$--red-200: #dc0505;
$--red-100: #ed0000;
$--gray-100: #929292;
$--gray-200: #7b7b7b;
// Var font-family
$--ff-courier-new: 'Courier New', Courier, monospace;
$--ff-verdana: Verdana, Geneva, Tahoma, sans-serif;
$--ff-gil-sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
// Var media query 
$--XL: 1088px;
$--L: 975px;
$--XM: 860px;
$--M: 800px;
$--XS: 730px;
$--S: 670px;
$--SS: 590px;
